{% extends 'base.html' %}
{% set active_page = "settings" %}

{% block content %}
    <span class="title"><h1>{% block title %} Application Settings {% endblock %}</h1></span>
    <form action="" method="post">
        <div class="container">
            {{ form.hidden_tag() }}

            <div class="row row-cols-auto">
                <div class="column">
                    {{ form.app_name.label }}<br>
                    {{ form.app_name(size=32) }}
                </div>
                <div class="column">
                    {{ form.safe_mode }}{{ form.safe_mode.label }}
                </div>
            </div>
            <hr>
            <h1>Media Management</h1>
            There are {{ num_picks }} picks, {{ num_movies }} movies and {{ num_shows }} TV shows.<br>

            <div class="row row-cols-auto">
                <div class="column">
                    <h2>Expiry</h2>
                    {{ form.expiry_time_number.label }}<br>
                    {{ form.expiry_time_number }}  {{ form.expiry_time_unit }}<br>
                    {% for error in form.expiry_time_number.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="column">
                    <h2>Deletion</h2>
                    {{ form.next_delete.label }}<br>
                    {{ form.next_delete(type="hidden") }}
                    <input class="form-control" name="next_delete_local" required type="datetime-local" id="next_delete_local">
                    <br>
                    {% for error in form.next_delete.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    {{ form.deletion_time_number.label }} {{ form.deletion_time_number }} {{ form.deletion_time_unit }}<br>
                    {% for error in form.deletion_time_number.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <h2>Connections</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Service</th>
                        <th scope="col">Hostname</th>
                        <th scope="col">Port</th>
                        <th scope="col">API Key</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Radarr</th>
                        <td> {{ form.radarr_host }} </td>
                        <td> {{ form.radarr_port }} </td>
                        <td> {{ form.radarr_api_key(size=35) }} </td>
                        <td><a onclick="testRadarr()" class="btn btn-info">Test</a></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">Sonarr</th>
                        <td> {{ form.sonarr_host }} </td>
                        <td> {{ form.sonarr_port }} </td>
                        <td> {{ form.sonarr_api_key(size=35) }} </td>
                        <td><a onclick="testSonarr()" class="btn btn-info">Test</a></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">Ombi</th>
                        <td> {{ form.ombi_host }} </td>
                        <td> {{ form.ombi_port }} </td>
                        <td> {{ form.ombi_api_key(size=35) }} </td>
                        <td><a onclick="testOmbi()" class="btn btn-info">Test</a></td>
                    </tr>
                </tbody>
            </table>
            <p>{{ form.submit() }}</p>
        </div>
    </form>
    <br><hr>
    <h2>Jobs</h2>
    <a onclick="update_medias_and_requests()" class="btn btn-success">Trigger Update Job</a>
    <a onclick="delete_expired_medias()" class="btn btn-danger">Trigger Expired Media Deletion</a>
    <script>
        document.querySelector('#next_delete_local').addEventListener("change", (event) => {
            var datetimeLocal = document.querySelector('#next_delete_local').value;
            var datetimeUTC = moment.utc(new Date(datetimeLocal)).format('YYYY-MM-DDTHH:mm');
            document.querySelector('#next_delete').value = datetimeUTC;
        });

        $(document).ready(function () {
            var datetimeUTC = document.querySelector('#next_delete').value+"Z";
            var datetimeLocal = moment(datetimeUTC).format('YYYY-MM-DD HH:mm');
            document.querySelector('#next_delete_local').value = datetimeLocal;
        });

        async function testRadarr() {
            spinner.removeAttribute('hidden');
            params ={
                'radarr_host': document.getElementById('radarr_host').value,
                'radarr_port': document.getElementById('radarr_port').value,
                'radarr_api_key': document.getElementById('radarr_api_key').value
            }
            fetch(BASE_URL+"api/settings/test_radarr_from_server", {
                headers: {
                    'Content-Type': 'application/json'
                },
                method : 'POST',
                body: JSON.stringify(params)
            })
            .then(function (response){
                spinner.setAttribute('hidden', '');
                if (response.ok) {
                    response.json()
                    .then(function(response) {
                        toastr.success(response.message)
                    })
                } else {
                    response.json()
                    .then(function(response) {
                        toastr.error(response.error)
                    })
                }
            })
            .catch(function(error) {
                console.log(error)
            })
        }

        async function testSonarr() {
            spinner.removeAttribute('hidden');
            params ={
                'sonarr_host': document.getElementById('sonarr_host').value,
                'sonarr_port': document.getElementById('sonarr_port').value,
                'sonarr_api_key': document.getElementById('sonarr_api_key').value
            }
            fetch(BASE_URL+"api/settings/test_sonarr_from_server", {
                headers: {
                    'Content-Type': 'application/json'
                },
                method : 'POST',
                body: JSON.stringify(params)
            })
            .then(function (response){
                spinner.setAttribute('hidden', '');
                if (response.ok) {
                    response.json()
                    .then(function(response) {
                        toastr.success(response.message)
                    })
                } else {
                    response.json()
                    .then(function(response) {
                        toastr.error(response.error)
                    })
                }
            })
            .catch(function(error) {
                console.log(error)
            })
        }

        async function testOmbi() {
            spinner.removeAttribute('hidden');
            params ={
                'ombi_host': document.getElementById('ombi_host').value,
                'ombi_port': document.getElementById('ombi_port').value,
                'ombi_api_key': document.getElementById('ombi_api_key').value
            }
            fetch(BASE_URL+"api/settings/test_ombi_from_server", {
                headers: {
                    'Content-Type': 'application/json'
                },
                method : 'POST',
                body: JSON.stringify(params)
            })
            .then(function (response){
                spinner.setAttribute('hidden', '');
                if (response.ok) {
                    response.json()
                    .then(function(response) {
                        toastr.success(response.message)
                    })
                } else {
                    response.json()
                    .then(function(response) {
                        toastr.error(response.error)
                    })
                }
            })
            .catch(function(error) {
                console.log(error)
            })
        }

        function update_medias_and_requests() {
            spinner.removeAttribute('hidden');
            fetch(BASE_URL+"api/jobs/trigger_update_medias_and_requests_job", {
                headers: {
                    'Content-Type': 'application/json'
                },
                method : 'POST',
            })
            .then(function (response){
                spinner.setAttribute('hidden', '');
                if (response.ok) {
                    response.json()
                    .then(function(response) {
                        toastr.success(response.message)
                    })
                } else {
                    response.json()
                    .then(function(response) {
                        toastr.error(response.error)
                    })
                }
            })
            .catch(function(error) {
                console.log(error)
            })
        }

        function delete_expired_medias() {
            var result = confirm("Are you sure you want to delete expired medias")
            if (result) {
                spinner.removeAttribute('hidden');
                fetch(BASE_URL+"api/jobs/trigger_delete_expired_medias_job", {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method : 'POST',
                })
                .then(function (response){
                    spinner.setAttribute('hidden', '');
                    if (response.ok) {
                        response.json()
                        .then(function(response) {
                            toastr.success(response.message)
                        })
                    } else {
                        response.json()
                        .then(function(response) {
                            toastr.error(response.error)
                        })
                    }
                })
                .catch(function(error) {
                    console.log(error)
                })
            }
        }
    </script>
{% endblock %}