{% extends 'base.html' %}
{% set active_page = "settings" %}

{% block content %}
    <span class="title"><h1>{% block title %} Application Settings {% endblock %}</h1></span>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <hr>
        <h2>Miscellaneous</h2>
        <p>
            Time before deleting an abandonned media<br>
            {{ form.delayNumber }} {{ form.delayUnit }}<br>
            {% for error in form.delayNumber.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.appName.label }}<br>
            {{ form.appName(size=32) }}<br>
        </p>
        <br>
        <h2>Connections</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Service</th>
                    <th scope="col">Hostname</th>
                    <th scope="col">Port</th>
                    <th scope="col">API Key</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Radarr</th>
                    <td> {{ form.radarrHost }} </td>
                    <td> {{ form.radarrPort }} </td>
                    <td> {{ form.radarrApiKey(size=35) }} </td>
                    <td><a onclick="testRadarr()" class="btn btn-info">Test</a></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row">Sonarr</th>
                    <td> {{ form.sonarrHost }} </td>
                    <td> {{ form.sonarrPort }} </td>
                    <td> {{ form.sonarrApiKey(size=35) }} </td>
                    <td><a onclick="testSonarr()" class="btn btn-info">Test</a></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row">Ombi</th>
                    <td> {{ form.ombiHost }} </td>
                    <td> {{ form.ombiPort }} </td>
                    <td> {{ form.ombiApiKey(size=35) }} </td>
                    <td><a onclick="testOmbi()" class="btn btn-info">Test</a></td>
                </tr>
            </tbody>
        </table>
        <p>{{ form.submit() }}</p>
    </form>
    <br><hr>
    <h2>Jobs</h2>
    <a onclick="importData()" class="btn btn-success">Import Data from Ombi</a>
    <a onclick="deleteRequests()" class="btn btn-danger">Delete all requests</a>
    <a onclick="deleteUsers()" class="btn btn-danger">Delete users</a>
    <script>
        async function testRadarr() {
            ombiURL = "http://"+document.getElementById('radarrHost').value+":"+document.getElementById('radarrPort').value+"/api/v3/system/status"
            try{
                response = await fetch(ombiURL, {
                    headers: {
                        "X-Api-Key": document.getElementById('radarrApiKey').value
                    },
                    signal: AbortSignal.timeout(5_000)
                })
                if (response.ok) {
                    toastr.success("Test to Radarr successful")
                } else {
                    throw "Something went wrong"
                }
            } catch (error) {
                toastr.error("Could not connect to Radarr")
            }
        }

        async function testSonarr() {
            ombiURL = "http://"+document.getElementById('sonarrHost').value+":"+document.getElementById('sonarrPort').value+"/api/v3/system/status"
            try{
                response = await fetch(ombiURL, {
                    headers: {
                        "X-Api-Key": document.getElementById('sonarrApiKey').value
                    },
                    signal: AbortSignal.timeout(5_000)
                })
                if (response.ok) {
                    toastr.success("Test to Sonarr successful")
                } else {
                    throw "Something went wrong"
                }
            } catch (error) {
                toastr.error("Could not connect to Sonarr")
            }
        }

        async function testOmbi() {
            ombiURL = "http://"+document.getElementById('ombiHost').value+":"+document.getElementById('ombiPort').value+"/api/v1/Status"
            try{
                response = await fetch(ombiURL, {
                    headers: {
                        ApiKey: document.getElementById('ombiApiKey').value
                    },
                    signal: AbortSignal.timeout(5_000)
                })
                if (response.ok) {
                    toastr.success("Test to Ombi successful")
                } else {
                    throw "Something went wrong"
                }
            } catch (error) {
                toastr.error("Could not connect to Ombi")
            }
        }

        function importData() {
            spinner.removeAttribute('hidden');
            fetch("/settings/import_requests", {
                headers: {
                    'Content-Type': 'application/json'
                },
                method : 'POST',
            })
            .then(function (response){
                spinner.setAttribute('hidden', '');
                if (response.ok) {
                    response.json()
                    .then(function(response) {
                        toastr.success(response.message)
                    })
                }
            })
            .catch(function(error) {
                console.log(error)
            })
        }

        function deleteRequests() {
            fetch("/settings/delete_requests", {
                headers: {
                    'Content-Type': 'application/json'
                },
                method : 'POST',
                signal: AbortSignal.timeout(5_000)
            })
            .then(function (response){
                if (response.ok) {
                    response.json()
                    .then(function(response) {
                        toastr.success(response.message)
                    })
                }
            })
            .catch(function(error) {
                console.log(error)
            })
        }

        function deleteUsers() {
            fetch("/settings/delete_users", {
                headers: {
                    'Content-Type': 'application/json'
                },
                method : 'POST',
                signal: AbortSignal.timeout(5_000)
            })
            .then(function (response){
                if (response.ok) {
                    response.json()
                    .then(function(response) {
                        toastr.success(response.message)
                    })
                }
            })
            .catch(function(error) {
                console.log(error)
            })
        }
    </script>
{% endblock %}