{% extends 'base.html' %}
{% set active_page = "settings" %}

{% block content %}
    <span class="title"><h1>{% block title %} Application Settings {% endblock %}</h1></span>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            Time before deleting an abandonned media<br>
            {{ form.delayNumber }} {{ form.delayUnit }}<br>
            {% for error in form.delayNumber.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Service</th>
                    <th scope="col">Hostname</th>
                    <th scope="col">Port</th>
                    <th scope="col">API Key</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Radarr</th>
                    <td> {{ form.radarrHost }} </td>
                    <td> {{ form.radarrPort }} </td>
                    <td> {{ form.radarrApiKey(size=35) }} </td>
                    <td><a onclick="testRadarr()" class="btn btn-info">Test</a></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row">Sonarr</th>
                    <td> {{ form.sonarrHost }} </td>
                    <td> {{ form.sonarrPort }} </td>
                    <td> {{ form.sonarrApiKey(size=35) }} </td>
                    <td><a onclick="testSonarr()" class="btn btn-info">Test</a></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row">Ombi</th>
                    <td> {{ form.ombiHost }} </td>
                    <td> {{ form.ombiPort }} </td>
                    <td> {{ form.ombiApiKey(size=35) }} </td>
                    <td><a onclick="testOmbi()" class="btn btn-info">Test</a></td>
                </tr>
            </tbody>
        </table>
        <p>{{ form.submit() }}</p>
    </form>

    <script>
        async function testRadarr() {
            response = null
            ombiURL = "http://"+document.getElementById('radarrHost').value+":"+document.getElementById('radarrPort').value+"/api/v3/system/status"
            try{
                response = await fetch(ombiURL, {
                    headers: {
                        "X-Api-Key": document.getElementById('radarrApiKey').value
                    },
                    signal: AbortSignal.timeout(5_000)
                })
                if (response.ok) {
                    toastr.success("Test to Radarr successful")
                } else {
                    throw "Nope"
                }
            } catch (error) {
                toastr.error("Could not connect to Radarr")
            }
        }
        async function testSonarr() {
            response = null
            ombiURL = "http://"+document.getElementById('sonarrHost').value+":"+document.getElementById('sonarrPort').value+"/api/v3/system/status"
            try{
                response = await fetch(ombiURL, {
                    headers: {
                        "X-Api-Key": document.getElementById('sonarrApiKey').value
                    },
                    signal: AbortSignal.timeout(5_000)
                })
                if (response.ok) {
                    toastr.success("Test to Sonarr successful")
                } else {
                    throw "Nope"
                }
            } catch (error) {
                toastr.error("Could not connect to Sonarr")
            }
        }
        async function testOmbi() {
            response = null
            ombiURL = "http://"+document.getElementById('ombiHost').value+":"+document.getElementById('ombiPort').value+"/api/v1/Status"
            try{
                response = await fetch(ombiURL, {
                    headers: {
                        ApiKey: document.getElementById('ombiApiKey').value
                    },
                    signal: AbortSignal.timeout(5_000)
                })
                if (response.ok) {
                    toastr.success("Test to Ombi successful")
                } else {
                    throw "Nope"
                }
            } catch (error) {
                toastr.error("Could not connect to Ombi")
            }
        }
    </script>
{% endblock %}