{% extends 'base.html' %}
{% set active_page = "settings" %}

{% block content %}
    <span class="title"><h1>{% block title %} Users {% endblock %}</h1></span>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Alias</th>
                <th scope="col">Admin</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        {% for user in users %}
            <tbody>
                <tr>
                    <th scope="row">{{user.email}}</th>
                    <td>{{user.alias}}</td>
                    <td>{{user.admin}}</td>
                    <td><a class="btn btn-outline-light" type="button" href="{{ url_for('settings.user', user_id=user.id) }}">Edit</a></td>
                    <td><a onclick="deleteUser({{user.id}}, this)" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    <a class="btn btn-outline-light" type="button" href="{{ url_for('settings.add_user') }}">Add a user</a>

    <script>
        function deleteUser(user_id, obj) {
            var fetchURL = BASE_URL+"api/users/"+user_id+"/delete"
            fetchToastRemoveRowTable(fetchURL, obj, 'DELETE')
        }
    </script>
{% endblock %}