{% extends 'base.html' %}
{% set active_page = "settings" %}

{% block content %}
    <span class="title"><h1>{% block title %} Edit User {% endblock %}</h1></span>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32, disabled=True) }}<br>
        </p>
        <p>
            {{ form.alias.label }}<br>
            {{ form.alias(size=32)  }}<br>
            {% for error in form.alias.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.role.label }}<br>
            {{ form.role }}<br>
        </p>
        <p>
        <p>{{ form.submit() }}</p>
        </p>
    </form>
{% endblock %}