{% extends 'base.html' %}
{% set active_page = page %}
{% block content %}
    <h1>{% block title %} {{ page_title }} {% endblock %}</h1>
    <div id="medias-btns" class="medias-buttons" role="group" aria-label="Media types button group">
        <input type="checkbox" class="btn-check" id="btnmovies" checked autocomplete="off">
        <label class="btn btn-outline-secondary" for="btnmovies">Movies</label>

        <input type="checkbox" class="btn-check" id="btntvshows" checked autocomplete="off">
        <label class="btn btn-outline-secondary" for="btntvshows">TV Shows</label>
    </div>
    <table id="mediasTable" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Deletion Date</th>
                <th scope="col">Size</th>
                <th scope="col" class="button">Picks</th>
                {% if current_user.admin %}
                    <th scope="col" class="nosort button">Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="picksModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="picksTitle">Picks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="picksBody">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#mediasTable').DataTable({
                ajax: {
                    url: '/api/medias',
                    data: function (d) {
                        selected_media_types = [];
                        if ($('#btnmovies').is(':checked')) {
                            selected_media_types[0] = 'movie'
                        }
                        if ($('#btntvshows').is(':checked')) {
                            selected_media_types[1] = 'tv_show'
                        }
                        d.media_types = selected_media_types.join(',');
                    }
                },
                serverSide: true,
                columns: [
                    {data: 'title', 
                        render: function (data, type, row, meta) {
                            if (row.poster_url) {
                                var poster_url = row.poster_url
                            } else {
                                var poster_url = BASE_URL + "{{ url_for('static', filename='no_picture.png') }}"
                            }
                            if (row.media_type == "movie") {
                                var icon = "bi-film"
                                var icon_title = "Movie"
                            } else if (row.media_type == "tv_show") {
                                var icon = "bi bi-tv"
                                var icon_title = "TV Show"
                            }
                            var media_type = '<span class="media-type-tooltip" data-toggle="tooltip" title="' + icon_title + '"><i class="fa ' + icon + ' fa-fw"></i></span>';
                            return media_type + '&nbsp;<a href="'+row.media_db_url+'" target="_blank">'+data+'<span><img src='+poster_url+' loading="lazy" height="150"></span>'
                        },
                        className: "wrapper"
                    },
                    {data: 'deletion_date', 
                        render: function (data) {
                            if (data) {
                                return moment(data).format('LLL')
                            } else {
                                return null
                            }
                        }
                    },
                    {data: 'media_size', 
                        render: function(data) {
                            return formatBytes(data)
                        }
                    },
                    {data: 'num_picks',
                        render: function(data, type, row, meta) {
                            return '<a onclick="modalPicks('+row.media_id+', this)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#picksModal">'+data+'</a>'
                        }
                    },
                    {data: 'media_id',
                        render: function(data, table) {
                            return '<a onclick="deleteMedia('+data+', this)" class="btn btn-danger"><i class="bi bi-trash"></i></a>'
                        }
                    }
                ],
            });

            $('#medias-btns').on("click", function() {
                table.draw();
            });
        });
    </script>
{% endblock %}