{% extends 'base.html' %}
{% set active_page = page %}
{% block content %}
    <h1>{% block title %} {{ page_title }} {% endblock %}</h1>
    <div id="medias-btns" class="medias-buttons" role="group" aria-label="Media types button group">
        <input type="checkbox" class="btn-check" id="btnmovies" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btnmovies">Movies</label>

        <input type="checkbox" class="btn-check" id="btntvshows" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btntvshows">TV Shows</label>
    </div>
    <table id="picksTable" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th>Pick date</th>
                <th>Pick method</th>
                <th>Size</th>
                <th class="nosort button" scope="col">Let go</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            //If a media type is specified, we check it, otherwise we check both
            var urlParams = new URLSearchParams(window.location.search);
            var media_type = urlParams.get('media_type');
            switch(media_type) {
                case "movies":
                    console.log("Movies")
                    $('#btnmovies').prop( "checked", true );
                    break;
                case "tv_shows":
                    console.log("TV Shows")
                    $('#btntvshows').prop( "checked", true );
                    break;
                default:
                    console.log("Default")
                    $('#btnmovies').prop( "checked", true );
                    $('#btntvshows').prop( "checked", true );
            }
            var table = $('#picksTable').DataTable({
                ajax: {
                    url: '/api/picks',
                    data: function (d) {
                        selected_media_types = [];
                        if ($('#btnmovies').is(':checked')) {
                            selected_media_types[0] = 'movie'
                        }
                        if ($('#btntvshows').is(':checked')) {
                            selected_media_types[1] = 'tv_show'
                        }
                        d.media_types = selected_media_types.join(',');
                    }
                },
                serverSide: true,
                columns: [
                    {data: 'media_title', 
                        render: function (data, type, row, meta) {
                            if (row.poster_url) {
                                var poster_url = row.poster_url
                            } else {
                                var poster_url = BASE_URL + "{{ url_for('static', filename='no_picture.png') }}"
                            }
                            if (row.media_type == "movie") {
                                var icon = "bi-film"
                                var icon_title = "Movie"
                            } else if (row.media_type == "tv_show") {
                                var icon = "bi bi-tv"
                                var icon_title = "TV Show"
                            }
                            var media_type = '<span title="' + icon_title + '"><i class="' + icon + '"></i></span>';
                            return media_type + '&nbsp;<a href="'+row.media_db_url+'" target="_blank">'+data+'<span><img src='+poster_url+' loading="lazy" height="150"></span>'
                        },
                        className: "wrapper"
                    },
                    {data: 'pick_date', 
                        render: function (data) {
                            return moment(data).format('LLL')
                        }
                    },
                    {data: 'pick_method'},
                    {data: 'media_size', 
                        render: function(data) {
                            return formatBytes(data)
                        }

                    },
                    {data: 'pick_id',
                        render: function(data, table) {
                            return '<a onclick="deletePick('+data+', this)" class="btn btn-warning"><i class="bi bi-dash-circle"></i></a>'
                        }
                    }
                ],
            });

            $('#medias-btns').on("click", function() {
                table.draw();
            });
        });


    </script>
{% endblock %}