{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} {{ page_title }} {% endblock %}</h1>
    <div id="medias-btns" class="medias-buttons" role="group" aria-label="Media types button group">
        <input type="checkbox" class="btn-check" id="btnmovies" checked autocomplete="off">
        <label class="btn btn-outline-secondary" for="btnmovies">Movies</label>

        <input type="checkbox" class="btn-check" id="btntvshows" checked autocomplete="off">
        <label class="btn btn-outline-secondary" for="btntvshows">TV Shows</label>
    </div>
    <table id="mediasTable" class="table table-hover table-dark" style="width: 100%">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="picksModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="picksTitle">Picks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="picksBody">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            var table = $('#mediasTable').DataTable({
                ajax: {
                    url: BASE_URL+'/api/medias',
                    data: function (d) {
                        selected_media_types = [];
                        if ($('#btnmovies').is(':checked')) {
                            selected_media_types[0] = 'movie'
                        }
                        if ($('#btntvshows').is(':checked')) {
                            selected_media_types[1] = 'tv_show'
                        }
                        d.media_types = selected_media_types.join(',');
                        {% if page == "abandoned_medias" %}
                            d.abandoned_page = true
                        {% endif %}
                    }
                },
                serverSide: true,
                scrollX: true,
                columns: [
                    {
                        title: 'Title',
                        data: 'title', 
                        render: function (data, type, row, meta) {
                            if (row.poster_url) {
                                var poster_url = row.poster_url
                            } else {
                                var poster_url = "{{ url_for('static', filename='no_picture.png') }}"
                            }
                            if (row.media_type == "movie") {
                                var icon = "bi-film"
                                var icon_title = "Movie"
                            } else if (row.media_type == "tv_show") {
                                var icon = "bi bi-tv"
                                var icon_title = "TV Show"
                            }
                            var media_type_icon = '<span class="media-type-tooltip" data-toggle="tooltip" title="' + icon_title + '"><i class="fa ' + icon + ' fa-fw"></i></span>';
                            var media_poster_popover = '<span data-bs-toggle="popover" data-bs-img='+poster_url+'>'+data+'</span>'
                            return (media_type_icon + '&nbsp;' + '<a href="'+row.media_db_url+'" target="_blank">' + media_poster_popover + '</a>')
                        },
                    },
                    {% if page == "abandoned_medias" %}
                        {
                            title: 'Abandoned Date',
                            data: 'abandoned_date',
                            render: function(data) {
                                return moment(data).format('LLL')
                            }
                        },
                    {% endif %}
                    {
                        title: 'Deletion Date',
                        data: 'deletion_date',
                        render: function (data) {
                            if (data) {
                                return moment(data).format('LL')
                            } else {
                                return null
                            }
                        }
                    },
                    {
                        title: 'Size',
                        data: 'media_size', 
                        render: function(data) {
                            return formatBytes(data)
                        }
                    },
                    {% if page == "abandoned_medias" %}
                        {
                            title: 'Pick up',
                            data: 'media_id',
                            orderable: false,
                            width: "7%",
                            render: function(data, type, row, meta) {
                                return '<a onclick="addPickCurrentUser('+data+', this)" class="btn btn-success"><i class="bi bi-plus-circle"></i></a>'
                            }
                        },
                        {% if current_user.admin %}
                            {
                                title: 'Make permanent',
                                data: 'media_id',
                                orderable: false,
                                width: 1,
                                render: function(data, table) {
                                    return '<td><a onclick="addPickPermanent('+data+', this)" class="btn btn-info"><i class="bi bi-arrow-right-circle"></i></a></td>'
                                }
                            },
                        {% endif %}
                    {% else %}
                        {
                            title: 'Picks',
                            data: 'num_picks',
                            width: 1,
                            render: function(data, type, row, meta) {
                                return '<a onclick="modalPicks('+row.media_id+', this)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#picksModal">'+data+'</a>'
                            }
                        },
                        {% if current_user.admin %}
                            {
                                title: 'Delete',
                                data: 'media_id',
                                orderable: false,
                                width: 1,
                                render: function(data, table) {
                                    return '<a onclick="deleteMedia('+data+', this)" class="btn btn-danger"><i class="bi bi-trash"></i></a>'
                                }
                            },
                        {% endif %}
                    {% endif %}
                ],
            });

            $('#medias-btns').on("click", function() {
                table.draw();
            });
        
            table.on( 'draw', function () {
                document.querySelectorAll('[data-bs-toggle="popover"]').forEach(popover => {
                    new bootstrap.Popover(popover, {
                        html: true,
                        sanitize: false,
                        trigger: 'hover',
                        placement: 'right',
                        container: "body",
                        template: '<div class="popover thumbnail-popover" role="tooltip"><div class="popover-body"></div></div>',
                        content: function () {
                            return '<div class="thumbnail" style="background-image: url('+popover.dataset.bsImg+');"></div>';
                        }
                    })
                });
            })

            {% if page == "abandoned_medias" %}
                table.column('1').order('desc').draw();
            {% endif %}
        });
    </script>
{% endblock %}