
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
/* ============ desktop view .end// ============ */

.table{
	vertical-align: middle;
}

.btn-plex{
	background-color: #282a2d;
	color: #e5a00d;
	border-color: #e5a00d;
}

.btn-plex:hover{
	background-color: #e5a00d;
	color: #282a2d;
	border-color: #282a2d;
}

#spinner:not([hidden]) {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#spinner::after {
	content: "";
	width: 80px;
	height: 80px;
	border: 2px solid #f3f3f3;
	border-top: 3px solid #f25a41;
	border-radius: 100%;
	will-change: transform;
	animation: spin 1s infinite linear
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.toast {
	opacity: 1 !important;
}

.wrapper a span{
	position: absolute;
	display: none;
	z-index: 99;
	transform: scale(0);
	border: 2px solid rgb(0, 0, 0);
}

.wrapper a:hover span{
	display: block;
	transform: translate(225%, -50%) scale(1.5);
}

.logging_window{
	height: 80vh;
    padding: 9.5px;
    font-size: 14px;
    background-color: #00000077;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.logging_content{
  	transform: translateZ(0); 
}

.log_text{
	margin:0px;
	text-wrap: balance;
}

.medias-buttons{
	text-align: center;
}