
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
/* ============ desktop view .end// ============ */


.btn-plex{
	background-color: #282a2d;
	color: #e5a00d;
	border-color: #e5a00d;
}

.btn-plex:hover{
	background-color: #e5a00d;
	color: #282a2d;
	border-color: #282a2d;
}

#spinner:not([hidden]) {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#spinner::after {
	content: "";
	width: 80px;
	height: 80px;
	border: 2px solid #f3f3f3;
	border-top: 3px solid #f25a41;
	border-radius: 100%;
	will-change: transform;
	animation: spin 1s infinite linear
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.toast {
	opacity: 1 !important;
}
.thumbnail-popover {
	z-index: 2000;
	padding: 0;
	border: 0;
}

.thumbnail-popover .popover-body {
	color: #000;
	padding: 0;
}

.thumbnail {
	background-position: center;
	background-size: cover;
	width: 160px;
	height: 240px;
	border-radius: 3px;
	box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
}
.logging_window {
	height: 80vh;
    padding: 9.5px;
    font-size: 14px;
    background-color: #00000077;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.logging_content {
  	transform: translateZ(0); 
}

.log_text {
	margin:0px;
	text-wrap: balance;
}

.medias-buttons {
	text-align: center;
}

.mobile-dropdown::after {
	display: none;
}

.mobile-dropdown-item {
	height: 50px;
	display:flex;
	padding-left: 1em;
	align-items: center;
}

.mobile-dropdown-item .checkbox {
	height: 100%;
}

.mobile-dropdown-item .checkbox-label {
	padding-left: .5em;
	height: 100%;
	width: 80%;
	display: flex;
	align-items: center;
}

.vertical-align-cell {
	vertical-align: middle;
}