<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='DataTables/datatables.bootstrap5.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='toastr/toastr.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='jQuery/jquery-3.7.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='DataTables/datatables.bootstrap5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='toastr/toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='custom.js') }}"></script>
        {{ moment.include_moment() }}

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div hidden id="spinner"></div>
        {% include 'nav.html' %}
        {% include 'flash.html' %}
        <div class="container-xl px-3 px-md-4 px-lg-5 mt-4">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>