<nav class="navbar navbar-expand-lg" style="background-color: #0a0a11;">
    <div class="container-fluid">
        <a class="navbar-brand  mb-0 h1" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='logo_white.png') }}" height="33">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a {% if page == "abandonned_medias" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('media.abandonned_medias') }}">Abandoned Medias</a>
                </li>
                <li class="nav-item">
                    <a {% if page == "my_picks" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('media.my_picks') }}">My Picks</a>
                </li>
                <li class="nav-item">
                    <a {% if page == "permanent_picks" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('media.permanent_picks') }}">Permanent Collection</a>
                </li>
                <li class="nav-item">
                    <a {% if page == "all_medias" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('media.all_medias') }}">All Medias</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                {% if current_user.admin %}
                    <li class="nav-item dropdown">
                        <a {% if active_page == "settings" %} class="nav-link active dropdown-toggle" {% else %} class="nav-link dropdown-toggle" {% endif %} data-bs-toggle="dropdown" href="#">Settings</a>
                        <div class="dropdown-menu" style="right: 0; left: auto;">
                            <a class="dropdown-item" href="{{ url_for('settings.application') }}">Application</a>
                            <a class="dropdown-item" href="{{ url_for('settings.users') }}">Users</a>
                            <a class="dropdown-item" href="{{ url_for('settings.logs') }}">Logs</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item">
                    {% if current_user.is_anonymous %}
                    <a class="nav-link" href="{{ url_for('auth.login_choice') }}">Login</a>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a {% if active_page == "profile" %} class="nav-link active dropdown-toggle" {% else %} class="nav-link dropdown-toggle" {% endif %} data-bs-toggle="dropdown" href="#">{{ current_user.email }}</a>
                        <div class="dropdown-menu" style="right: 0; left: auto;">
                            <a class="dropdown-item" href="{{ url_for('auth.update_profile') }}">Profile</a>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                        </div>
                    </li>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>