{% extends 'base.html' %}
{% set active_page = "abandonnedshows" %}
{% block content %}
    <h1>{% block title %} Abandonned Shows {% endblock %}</h1>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for tvShow in tvShows %}
                <tr>
                    <th scope="row"><a href="{{ tvShow.tvDbURL }}" target="_blank">{{tvShow.title}}</a></th>
                    <td><a onclick="changeOwnerShow()" class="btn btn-success">Adopt</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}