{% extends 'base.html' %}
{% set active_page = "abandonnedshows" %}
{% block content %}
    <h1>{% block title %} Abandonned Shows {% endblock %}</h1>
    <table id="mediaTable" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Adopt</th>
            </tr>
        </thead>
        <tbody>
            {% for tvShow in tvShows %}
                <tr>
                    <td scope="row"><a href="{{ tvShow.tvDbURL }}" target="_blank">{{tvShow.title}}</a></td>
                    {% if current_user.is_anonymous %}
                    <td></td>
                    {% else %}
                    <td><a onclick="changeOwnerShow({{tvShow.id}}, this)" class="btn btn-success"><i class="bi bi-plus-circle"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}