{% extends 'base.html' %}
{% set active_page = "abandonnedmovies" %}
{% block content %}
    <h1>{% block title %} Abandonned Movies {% endblock %}</h1>
    <table id="mediaTable" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Deletion Date</th>
                <th scope="col">Size</th>
                <th scope="col" class="nosort">Pick up</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td scope="row" class="wrapper">
                        <a href="{{ movie.TMDB_url }}" target="_blank">{{ movie.title }} ({{ movie.year }})
                            <span><img src="{{ movie.poster_url }}" loading="lazy" height="150"></span>
                        </a>
                    </td>
                    <td data-sort="{{ movie.deletionDate }}">{{ moment(movie.deletion_date).format('LLL') }}</a></td>
                    <td data-sort="{{ movie.total_size }}">{{ movie.total_size | filesizeformat  }}</td>
                    {% if current_user.is_anonymous %}
                    <td></td>
                    {% else %}
                    <td><a onclick="addPick({{movie.id}}, this)" class="btn btn-success"><i class="bi bi-plus-circle"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}