{% extends 'base.html' %}
{% set active_page = "allshows" %}
{% block content %}
    <h1>{% block title %} All Shows {% endblock %}</h1>
    <table id="mediaTable" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Picks</th>
                <th class="nosort" scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for tvShow in tvShows %}
                <tr>
                    <td scope="row"><a href="{{ tvShow.tvDbURL }}" target="_blank">{{tvShow.title}}</a></td>
                    {% if not tvShow.picks %}
                        <td>{{ tvShow.picks }} Abandonned</td>
                    {% else %}
                        <td>
                            <span class="picks_popup">
                                <a href="#">
                                    {{ tvShow.picks|length }}
                                </a>
                            </span>
                        </td>
                    {% endif %}
                    <td><a onclick="deleteMedia({{tvShow.id}}, this)" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}