{% extends 'base.html' %}
{% set active_page = "allmovies" %}
{% block content %}
    <h1>{% block title %} All Movies {% endblock %}</h1>
    <table id="mediaTable" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Deletion Date</th>
                <th scope="col" class="nosort">Picks</th>
                <th scope="col" class="nosort">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td scope="row"><a href="{{ movie.theMovieDbURL }}" target="_blank">{{movie.title}} ({{movie.releaseDate.strftime('%Y')}})</a></td>
                    {% if movie.deletionDate %}
                        <td scope="row" data-sort="{{ movie.deletionDate }}">{{ moment(movie.deletionDate).format('LLL') }}</a></td>
                    {% else %}
                        <td scope="row"></td>
                    {% endif %}
                    {% if not movie.picks %}
                        <td>Abandonned</td>
                    {% else %}
                        <td>
                            <a onclick="modalPicks({{ movie.id }}, this)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#picksModal">{{ movie.picks|length }}</a>
                        </td>
                    {% endif %}
                    <td><a onclick="deleteMedia({{ movie.id }}, this)" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="picksModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="picksTitle">Picks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="picksBody">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function modalPicks(media_id, obj) {
            var fetchURL = media_id+"/picks_modal"
            countObj = obj
            $.ajax(fetchURL, {
                method: 'GET',
                dataType: 'html',
                success: function(data) {
                    var mediaTitle = obj.parentNode.parentNode.childNodes[1].innerText
                    $("#picksTitle").text("Picks for "+mediaTitle)
                    $("#picksBody").html(data);
                }
            });
        }
        
        function removeCount(){
            var num = parseInt(countObj.text)
            if (num === 1) {
                countObj.parentNode.innerHTML = "Abandonned"
            } else {
                countObj.text = (num - 1)
            }
        }
    </script>
{% endblock %}