{% extends 'base.html' %}
{% set active_page = "allmovies" %}
{% block content %}
    <h1>{% block title %} All Movies {% endblock %}</h1>
    <table id="mediaTable" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Owner</th>
                <th class="nosort" scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td scope="row"></td>
                    <td scope="row"><a href="{{ movie.theMovieDbURL }}" target="_blank">{{movie.title}} ({{movie.releaseDate.strftime('%Y')}})</a></td>
                    {% if not movie.picks %}
                        <td>Abandonned</td>
                    {% else %}
                        <td>{{ movie.picks.count() }}</td>
                    {% endif %}
                    <td><a onclick="deleteMovie({{movie.id}}, this)" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}