{% extends 'base.html' %}
{% set active_page = "allshows" %}
{% block content %}
    <h1>{% block title %} All Shows {% endblock %}</h1>
    <table id="mediaTable" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Deletion Date</th>
                <th scope="col">Size</th>
                <th scope="col" class="nosort">Picks</th>
                <th scope="col" class="nosort">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for tv_show in tv_shows %}
                <tr>
                    <td scope="row"><a href="{{ tv_show.theTVDB_url }}" target="_blank">{{tv_show.title}}</a></td>
                    {% if tv_show.deletion_date %}
                        <td scope="row" data-sort="{{ tv_show.deletion_date }}">{{ moment(tv_show.deletion_date).format('LLL') }}</a></td>
                    {% else %}
                        <td scope="row"></td>
                    {% endif %}
                    <td data-sort="{{ tv_show.total_size }}">{{ tv_show.total_size | filesizeformat  }}</td>
                    {% if not tv_show.picks %}
                        <td>Abandonned</td>
                    {% else %}
                        <td>
                            <a onclick="modalPicks({{ tv_show.id }}, this)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#picksModal">{{ tv_show.picks|length }}</a>
                        </td>
                    {% endif %}
                    <td><a onclick="deleteMedia({{tv_show.id}}, this)" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="picksModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="picksTitle">Picks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="picksBody">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function modalPicks(media_id, obj) {
            var fetchURL = media_id+"/picks_modal"
            $.ajax(fetchURL, {
                method: 'GET',
                dataType: 'html',
                success: function(data) {
                    var mediaTitle = obj.parentNode.parentNode.childNodes[1].innerText
                    $("#picksTitle").text("Picks for "+mediaTitle)
                    $("#picksBody").html(data);
                }
            });
        }
    </script>
{% endblock %}