{% extends 'base.html' %}
{% set active_page = "allmovies" %}
{% block content %}
    <h1>{% block title %} All Movies {% endblock %}</h1>
    <table id="mediaTable" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Deletion Date</th>
                <th scope="col">Size</th>
                <th scope="col" class="nosort">Picks</th>
                <th scope="col" class="nosort">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td scope="row" class="wrapper">
                        <a href="{{ movie.TMDB_url }}" target="_blank">{{ movie.title }} ({{ movie.year }})
                            {% if movie.poster_url %}
                                <span><img src="{{ movie.poster_url }}" loading="lazy" height="150"></span>
                            {% else %}
                                <span><img src="{{ url_for('static', filename='no_picture.png') }}" loading="lazy" height="150"></span>
                            {% endif %}
                        </a>
                    </td>
                    {% if movie.deletion_date %}
                        <td scope="row" data-sort="{{ movie.deletion_date }}">{{ moment(movie.deletion_date).format('LLL') }}</a></td>
                    {% else %}
                        <td scope="row"></td>
                    {% endif %}
                    <td data-sort="{{ movie.total_size }}">{{ movie.total_size | filesizeformat  }}</td>
                    {% if not movie.picks %}
                        <td>Abandonned</td>
                    {% else %}
                        <td>
                            <a onclick="modalPicks({{ movie.id }}, this)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#picksModal">{{ movie.picks|length }}</a>
                        </td>
                    {% endif %}
                    <td><a onclick="deleteMedia({{ movie.id }}, this)" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="picksModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="picksTitle">Picks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="picksBody">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}