{% extends 'base.html' %}
{% set active_page = "mymovies" %}
{% block content %}
    <h1>{% block title %} My Movies {% endblock %}</h1>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for movie in movies %}
                <tr>
                    <th scope="row"><a href="{{ movie.theMovieDbURL }}" target="_blank">{{movie.title}} ({{movie.releaseDate.strftime('%Y')}})</a></th>
                    <td><a onclick="changeOwnerMovie({{movie.id}}, this)" class="btn btn-warning">Abandon</a></td>
                    <td><a onclick="deleteMovie({{movie.id}}, this)" class="btn btn-danger"">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}